/* You can add global styles to this file, and also import other style files */
@import url(./app/styles/fonts.css);

* {
  margin: 0;
  padding: 0;
  font-family: Asap;
}

.c-header {
  display: flex;
  justify-content: center;

  a {
    text-decoration: none;
    color: black;
  }

  ul {
    list-style-type: none;
    padding: 10px;
  }

  li {
    float: left;
    margin: 0px 20px;
  }
}

.c-gallery {
  display: flex;
  justify-content: space-between;

  &--poster {
    margin: 5px;
    width: 150px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}

.c-grid {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &--animes {
    margin: 20px;
  }

  &--cate{
    padding: 20px;
    position: sticky;
    display: block;
    margin-bottom: .75rem;
    border-radius: .25rem;
    top: 65px;
    margin: 20px;
    min-width: 30%;
  }

}

.c-cate {


  &--list {
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
    margin-bottom: 42px;
    font-size: 12px;
    font-weight: 600;
    list-style: none;

    li {
      min-width: 50%;
      color: #464646;
    }
  }
}
